.RedAlert {
    border-radius: 30px;
    padding: 10px;
    width: 30%;
    background: #73AD21;
    margin: 3px;
}

.GreenAlert {
. alert;
    background: #73AD21;
}

.YellowAlert {
. alert;
    background: #73AD21;
}