{% include "header.html" %}

        <div class="container-fluid">

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                Datos de la alerta
            </div>

            <div class="panel-body">
                <form method="post" action="/create">
                    <div class="container-fluid">

                        <h2>Descripcion de la alerta</h2>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                Nombre de la alerta:
                            </div>
                            <div class="col-lg-6 text-align-left">
                                <input class="form-control" placeholder="Nombre alerta" type="text" name="ALERT_NAME"
                                       required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                Descripcion:
                            </div>
                            <div class="col-lg-6 text-align-left">
                                <input class="form-control" placeholder="Descripcion" type="text" name="ALERT_DESC"
                                       required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                Prioridad
                            </div>
                            <div class="col-lg-4 text-align-left">
                                <select class="form-control" name="ALERT_LEVEL" required>
                                    {% for option in [("GREEN","Baja"),("YELLOW","Media"),("RED","Alta")] %}
                                        <option value="{{ option[0] }}">{{ option[1] }}</option>
                                    {% endfor %}</select>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <h2>Campos a mostrar</h2>

                        {% for field in fields[0]["FIELDS"] %}
                            <div class="col-lg-9">

                                <div class="col-lg-6">
                                    <input type="checkbox" name="FIELD_{{ field[1] }}"/> {{ field[0] }}
                                    <input type="hidden" name="{{ field[1] }}" value="{{ field[0] }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="container-fluid">
                        <h2>Condiciones de alerta</h2>
                        {% for field_id in sorted(fields.keys()) if field_id >= 1 %}

                            <div class="col-lg-9">
                                <div class="col-lg-4">
                                    <input type="checkbox" name="CHK_{{ field_id }}"/>
                                    Condicion: {{ fields[field_id]["NAME"] }}
                                </div>
                                {% if fields[field_id]["TYPE"] == "FREE_COMPARER" %}
                                    <div class="col-lg-4">

                                        <select class="form-control" name="{{ field_id }}_OPTION">
                                            {% for option in fields[field_id]["OPTIONS"] %}
                                                <option value="{{ option[1] }}">{{ option[0] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-lg-4">
                                        <input class="form-control" placeholder="{{ fields[field_id]["NAME"] }}"
                                               type="text" name="{{ field_id }}_VALUE">
                                    </div>
                                {% endif %}

                                {% if fields[field_id]["TYPE"] == "CONDITIONAL_COMPARER" %}
                                    <div class="col-lg-4">

                                        <select class="form-control" name="{{ field_id }}_OPTION">
                                            {% for option in fields[field_id]["OPTIONS"] %}
                                                <option value="{{ option[1] }}">{{ option[0] }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                    <div class="col-lg-4">

                                        <select class="form-control" name="{{ field_id }}_VALUE">
                                            {% for option in fields[field_id]["VALUES"] %}
                                                <option value="{{ option[1] }}">{{ option[0] }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                {% endif %}
                            </div>
                            <input type="hidden" value="{{ fields[field_id]["QUERY"] }}" name="{{ field_id }}_QUERY">
                        {% endfor %}
                        <!input type="hidden" value="empt">
                        <input type="hidden" value="{{ len(fields.keys()) }}" name="Fields_Number">
                        <input type="hidden" value="{{ fields[-1]["QUERY"] }}" name="Query"/>
                    </div>
                    <button type="submit" class="btn btn-outline btn-default">Crear</button>
                </form>
            </div>
        </div>
{% include "footer.html" %}
