<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Alert</title>
</head>
<body>
<form method="post" action="/create">
    <h2>Descripcion de la alerta</h2>
    Nombre de la alerta: <input type="text" name="ALERT_NAME"><br>
    Descripcion: <input type="text" name="ALERT_DESC"><br>
    Prioridad <select name="ALERT_LEVEL">
    {% for option in [("GREEN","Baja"),("YELLOW","Media"),("RED","Alta")] %}
        <option value="{{ option[0] }}">{{ option[1] }}</option>
    {% endfor %}</select><br>
    <h2>Campos a mostrar</h2>
    {% for field in fields[0]["FIELDS"] %}
        <input type="checkbox" name="FIELD_{{ field[1] }}"/> {{ field[0] }}
        <input type="hidden" name="{{ field[1] }}" value="{{ field[0] }}">
        <br>
    {% endfor %}
    <h2>Condiciones de alerta</h2>
    {% for field_id in sorted(fields.keys()) if field_id >= 1 %}
        <div>

            <input type="checkbox" name="CHK_{{ field_id }}"/> {{ fields[field_id]["NAME"] }}

            {% if fields[field_id]["TYPE"] == "FREE_COMPARER" %}
                <select name="{{ field_id }}_OPTION">
                    {% for option in fields[field_id]["OPTIONS"] %}
                        <option value="{{ option[1] }}">{{ option[0] }}</option>
                    {% endfor %}
                </select>

                <input type="text" name="{{ field_id }}_VALUE">
            {% endif %}

            {% if fields[field_id]["TYPE"] == "CONDITIONAL_COMPARER" %}
                <select name="{{ field_id }}_OPTION">
                    {% for option in fields[field_id]["OPTIONS"] %}
                        <option value="{{ option[1] }}">{{ option[0] }}</option>
                    {% endfor %}
                </select>
                <select name="{{ field_id }}_VALUE">
                    {% for option in fields[field_id]["VALUES"] %}
                        <option value="{{ option[1] }}">{{ option[0] }}</option>
                    {% endfor %}
                </select>
            {% endif %}

        </div>
        <input type="hidden" value="{{ fields[field_id]["QUERY"] }}" name="{{ field_id }}_QUERY">
    {% endfor %}
    <!input type="hidden" value="empt">
    <input type="hidden" value="{{ len(fields.keys()) }}" name="Fields_Number">
    <input type="hidden" value="{{ fields[-1]["QUERY"] }}" name="Query"/>
    <input type="submit" value="Submit">
</form>
</body>
</html>