{% include "header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-info-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ amounts.get("green",0) }}</div>
                            <div>alertas</div>
                        </div>
                    </div>
                </div>
                <a href="/toggleGreen">
                    <div class="panel-footer">
                        {% if not enabled["green"] %}
                            <span class="pull-left">Ocultas</span>
                            <span class="pull-right"><i class="fa fa-ban"></i></span>
                        {% else %}
                            <span class="pull-left">Visibles</span>
                            <span class="pull-right"><i class="fa fa-check-circle"></i></span>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exclamation-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ amounts.get("yellow",0) }}</div>
                            <div>alertas</div>
                        </div>
                    </div>
                </div>
                <a href="/toggleYellow">
                    <div class="panel-footer">
                        {% if not enabled["yellow"] %}
                            <span class="pull-left">Ocultas</span>
                            <span class="pull-right"><i class="fa fa-ban"></i></span>
                        {% else %}
                            <span class="pull-left">Visibles</span>
                            <span class="pull-right"><i class="fa fa-check-circle"></i></span>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exclamation-triangle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ amounts.get("red",0) }}</div>
                            <div>alertas</div>
                        </div>
                    </div>
                </div>
                <a href="/toggleRed">
                    <div class="panel-footer">
                        {% if not enabled["red"] %}
                            <span class="pull-left">Ocultas</span>
                            <span class="pull-right"><i class="fa fa-ban"></i></span>
                        {% else %}
                            <span class="pull-left">Visibles</span>
                            <span class="pull-right"><i class="fa fa-check-circle"></i></span>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Alertas
                </div>
                <div class="panel-body">
                    {% for  x in range(0,3) %}
                        <div class="col-lg-4">
                            <div class="list-group">
                                {% for alert in alerts %}
                                    {% if loop.index0 % 3 == x %}
                                        <div class="panel panel-{{ groups[alert["TYPE"]] }}">
                                            <div class="panel-heading">
                                                {{ alert["NAME"].title() }}
                                            </div>
                                            <div class="panel-body">
                                                <ul>
                                                    {% for tag in alert["TAGS"] %}
                                                        <li><b>{{ tag[0] }}</b> -> <i>{{ tag[1] }}</i></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="panel-footer">
                                                {{ alert["DESC"] }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer text-center">

                    <form action="/" method="post">
                        {% if page > 0 %}
                            <button class="btn btn-lg btn-outline btn-primary" type="submit" name="PAGE"
                                    value="{{ page - 1 }}">
                                <
                            </button>
                        {% endif %}
                        {% for p in range(page - 2,page) if p >= 0 %}
                            <button class="btn btn-lg btn-outline btn-info" type="submit" name="PAGE"
                                    value="{{ p }}">{{ p }}</button>
                        {% endfor %}
                        <button class="btn btn-lg btn-info" type="submit" name="PAGE"
                                value="{{ page }}">{{ page }}</button>
                        {% for p in range(page + 1,page + 3) if p < pages %}
                            <button class="btn btn-lg btn-outline btn-info" type="submit" name="PAGE"
                                    value="{{ p }}">{{ p }}</button>
                        {% endfor %}
                        {% if page < pages-1 %}
                            <button class="btn btn-lg btn-outline btn-primary" type="submit" name="PAGE"
                                    value="{{ page + 1 }}">
                                >
                            </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}