<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listados</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-2 text-center"><a href="/"><img
                    src="https://dailygiveawayalert.com/assets/images/icon-alert.png"/></a>
            </div>
            <div class="col-lg-9 text-center"><h1>Listados Completos</h1></div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <form action="/list" method="post">
                    {% for alert_type in alerts_types %}
                        {% if alert_type == alert_name %}
                            <button class="btn btn-primary btn-lg btn-block" type="submit" name="ALERT"
                                    value="{{ alert_type }}">{{ alert_type }}
                                <span class="badge">+</span>
                            </button>
                        {% else %}
                            <button class="btn btn-primary btn-lg btn-block" type="submit" name="ALERT"
                                    value="{{ alert_type }}">{{ alert_type }}
                            </button>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>

            <div class="col-lg-9 text-center">

                <div class="list-group text-left" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for alert in alerts %}
                        <a class="list-group-item {{ groups[alert["TYPE"]] }}" draggable="true"
                           ondragstart="drag(event)">
                            <h1>{{ alert["NAME"] }}</h1>
                            <h4>{{ alert["DESC"] }}</h4>
                            <ul>
                                {% for tag in alert["TAGS"] %}
                                    <li><b>{{ tag[0] }}</b> -> <i>{{ tag[1] }}</i></li>
                                {% endfor %}
                            </ul>
                        </a>
                    {% endfor %}
                </div>
                <form action="/list" method="post">
                    {% if page > 0 %}
                        <button class="btn btn-lg" type="submit" name="PAGE" value="{{ page - 1 }}"><</button>
                    {% endif %}
                    {% for p in range(page - 2,page) if p >= 0 %}
                        <button class="btn btn-lg" type="submit" name="PAGE" value="{{ p }}">{{ p }}</button>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary" type="submit" name="PAGE"
                            value="{{ page }}">{{ page }}</button>
                    {% for p in range(page + 1,page + 3) if p < pages %}
                        <button class="btn btn-lg" type="submit" name="PAGE" value="{{ p }}">{{ p }}</button>
                    {% endfor %}
                    {% if page < pages-1 %}
                        <button class="btn btn-lg" type="submit" name="PAGE" value="{{ page + 1 }}">></button>
                    {% endif %}
                    <input type="hidden" name="ALERT" value="{{ alert_name }}">
                </form>

            </div>


        </div>
    </div>
</div>

</html>